
/* Orange Colour :  #e67e22  */

/*-------------------------------------*/
/* Loader*/
/*-------------------------------------*/


.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: blue;
z-index: 999999;
}



.spinner {
  position: absolute;
  top: 48%;
  left: 48%;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*-------------------------------------*/
/* Saying Hello*/
/*-------------------------------------*/



.say-hello
{
  position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: white;
z-index: 999999;
}

h1.ml8 {
  font-weight: 900;
  font-size: 4.5em;
  color: #fff;
  width: 3em;
  height: 3em;
}

.ml8 .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -9.48em;
  top: -0.2em;
}

.ml8 .bang {
  font-size: 1.4em;
  top: auto;
  
  right: -6.6em;
}

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.ml8 .circle-white {
  width: 3em;
  height: 3em;
  border: 2px dashed white;
  border-radius: 2em;
}

.ml8 .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: green;
  border-radius: 3em;
  z-index: 1;
}

.ml8 .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed green;
  width: 2.3em;
  height: 2.3em;
}





/*-------------------------------------*/
/* Basic Setup */
/*-------------------------------------*/


{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }


.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}


html,body{
	background-color: #fff;
	color: #555;
	font-family: 'Lato','Arial',sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

body{
	margin: 0;
}


/*-------------------------------------*/
/* Reusable Content */
/*-------------------------------------*/


.row
{
	max-width: 1200px;
	margin: 0 auto;
}
/* Heading */

h1,h2{	
	font-weight: 200;
	letter-spacing: 1px;
}

h1
{
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 200%;
	word-spacing: 3px;
}

h2{
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}

h2:after{
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: " ";
	width: 130px;
	margin: 0 auto;
	margin-top: 30px;
}

section{

	padding: 80px 0;
	margin: 0 auto;
	height: 100vh;
	
}

/*---- Paragraphs -----*/
.Art-Title
{
	line-height: 145%;
	width: 70%;
	margin-left: 15%;

}



/* Buttons */


.btn:link,.btn:visited,input[type=submit]
{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	color: #fff;
	transition: background-color 0.2s,color 0.2s,border 0.2s;

}.btn-full:link,
.btn-full:visited,input[type=submit]{
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
}
.btn-ghost:link,		
.btn-ghost:visited{
	border: 1px solid #e67e22;
	color: #e67e22;
}
.btn:active,
.btn:hover,input[type=submit]:hover,input[type=submit]:active
{
	background-color: #cf6d17;
	
}
.btn-full:hover,
.btn-full:active{
	
	border: 1px solid #cf6d17;
	color: #fff;
}

.btn-ghost:hover,		
.btn-ghost:active{
	border: 1px solid #cf6d17;
	color: #fff;
}



/*-------------------------------------*/
/* Header */
/*-------------------------------------*/



header{
	background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.33)), url(img/5.jpg);
	background-size: cover;
	background-position: fixed;
	background-attachment: fixed;
	
	height: 100vh;
}

.Top
{
	 position: absolute;
	 width: 1140px;
	 top: 50%;
	 left: 50%;
	 transform: translate(-45%,-70%);
}

.logo{
	height: 100px;
	width: auto;
	
	position: absolute;
	margin-left: 1250px;
	margin-top: 600px;

	}




.main-nav{
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li{
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited
{
	padding: 8px 0;
	color: white;
	text-decoration: none;
	font-size: 90%;

	border-bottom: 2px solid transparent;

	transition: border-bottom .2s;
}

.main-nav li a:hover,
.main-nav li a:active
{
	border-bottom: 2px solid #e67e22;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 80px 0px;
	margin: 0px;
}


/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}




/*-------------------------------------*/
/* Past - Work Showcase */
/*-------------------------------------*/

.section-art
{
	padding: 20px 0;
	height: 70vh;
	
	
}

.section-work
{
	max-width: 100%;
	padding: 80px 0;
	margin: 0;
	height: 70vh;
}

.section-work ul{
	margin: 0;
	padding: 0;
}

.work-showcase{
	list-style: none;
	width: 100%;
	
}

.work-showcase li{
	display: block;
	float: left;
	width: 25%;
}

.work-photo{
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;

}



.work-photo img{
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);	
	transition: transform 0.5s, opacity 0.5s;
}

.work-photo img:hover	{

	opacity: 1;
	transform: scale(1.04);
}

.section-idea{
	margin-top: 150px;
	padding: 80px 0;
	height: 70vh;

}


/*-------------------------------------*/
/* Months- Works */
/*-------------------------------------*/



.months
{
	height: 150px;
	width: auto;
	border-radius: 50%;	
	position: absolute;
	z-index:1;
}

.month-img
{	  z-index:1;
	filter: grayscale(100%);		
	transition: filter .6s;
}

.month-img:hover	{
  z-index:1;
		filter: none;
}



/*-------------------------------------*/
/* Day - Works */
/*-------------------------------------*/

.day-works
{
	text-align: center;
	max-height: 600px;
	width: auto;
}

/*-------------------------------------*/
/* Popups*/
/*-------------------------------------*/


.overlay {
  z-index:2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s;
  visibility: hidden;
  opacity: 0;
  	overflow-y:scroll
}
.overlay:target {
	  z-index:2;
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;

}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
	  
  max-height: 30%;
  overflow: auto;
}

/*-------------------------------------*/
/* Idea Behind */
/*-------------------------------------*/

.section-idea{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/bgpic4.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}

.myidea{
    width:45.2%;
    height:100px;
    border:transparent;
    margin-right:10px;
    float:left;
}

blockquote{
	margin-top: 40px;
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
}


blockquote:before{
	content: "\201C";
	font-size: 400%;
	display: block;
	position: absolute;
	top: 0;
	left: -3px;
}

cite{
	font-size: 90%;
	margin-top: 25px;
	display: block;
}

/*-------------------------------------*/
/* Contact - Me !! */
/*-------------------------------------*/

.section-form
{
	height: 80vh;
}

.contact-form
{
	width: 60%;
	margin: 0 auto;
}

input[type=text],input[type=email],select,textarea{
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea{
	height: 100px;
}

*:focus{outline: none;}

footer{
	background-color: #333;	
	height: 120px;
	padding-top: 5px;
	font-size: 90%;
}

.footer-nav
{
	list-style: none;
	float: left;
}

.social-links
{
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li
{
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child
{
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited
{
	text-decoration: none;
	border: 0;
	color: #888; 
	transition: color .2s;
}

.footer-nav li a:hover,
.footer-nav li a:active
{
	color: #ddd;
}

.social-links li a:link,
.social-links li a:visited
{
	font-size: 180%;
}

ab1:hover
{
	color: #3b5998;
}

ab2:hover
{
	color: #00aced;
}

ab3:hover
{
	color: #c32aa3;
}

ab4:hover
{
	color: #0073aa;
}
footer p
{
	color: #888;
		font-size: 90%;
}